header {
    background-image: linear-gradient(180deg, rgb(105, 73, 75), rgb(53, 37, 38));
    height: 42vh;
    width: calc(100% - 240px);
    position: fixed;
    top: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include color($offWhite);

    // flex my life away
    nav,
    .arrows,
    .signUp,
    .signUp button,
    .back,
    .forward {
        display: flex;
        align-items: center;
    }
    nav {
        justify-content: space-between;
        height: 45px;
        width: 100%;
        background: $lightRedGrey;
        padding: 7px 10px;
        .back,
        .forward {
            justify-content: center;
            height: 30px;
            width: 30px;
            border-radius: 50%;
            margin-right: 20px;
            background: $redGrey;
            i {
                color: $offWhite;
                font-size: 3rem;
                &:hover {
                    color: white;
                }
            }
        }
        // this was driving me crazy
        .back i {
            transform: translateX(-1px);
        }
        .forward i {
            transform: translateX(1px);
        }

        .signUp button {
            justify-content: center;
            height: 30px;
            width: 100px;

            border: none;
            border-radius: 30px;

            text-transform: uppercase;
            @include color($offWhite);
            font-size: 1rem; 
            cursor: pointer;
        }
        button.signUpButton {
            background: transparent;
            color: white;
        }
        button.logInButton {
            color: black;
        }
    }


    
    // image and text div
    .title {
        display: flex;
        height: 80%;
        padding: 20px 35px;
        img {
            max-width: 220px;
            box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.4), -10px -10px 30px rgba(0, 0, 0, 0.4);
        }

        // text div
        .titleText {
            align-self: flex-end;
            margin-left: 20px;
            .play {
                color: white;
            }
            p {
                padding-top: 8px;
            }
            h1 {
                font-family: 'Circular Black', sans-serif;
                font-size: clamp(6rem, 7rem, 10rem);
                color: white;
                line-height: 80%;
                padding: 20px 0;
            }
            .fm {
                color: white;
            }
        }
    }
}
