header {
    background-image: linear-gradient(180deg, rgb(105, 73, 75), rgb(53, 37, 38));
    height: 42vh;
    width: calc(100% - 240px);
    position: fixed;
    top: 0;
    right: 0;

    padding: 30px 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    nav {
        height: 40px;
        width: 80%;
        border: 1px solid black;
    }
    // image and div with all text
    .title {
        width: 100%;
        height: 80%;
        display: flex;
        font-size: 1.4rem;
        // TODO image static size with one mediaquery
        img {
            max-width: 250px;
            box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.4), -10px -10px 30px rgba(0, 0, 0, 0.4);
        }
        // div with all text
        .titleText {
            align-self: flex-end;
            margin-left: 20px;
            p {
                padding-top: 8px;
            }
            h1 {
                font-family: 'Circular Black', sans-serif;
                color: white;
                font-size: 5rem;
                padding: 10px 0;
                line-height: 80%;
            }
            .fm {
                color: white;
            }
        }
    }
}
