main {
    background-image: linear-gradient(180deg, rgb(39, 28, 28), black);

    height: 58vh;
    width: calc(100% - 240px);
    padding: 20px;
    position: fixed;
    bottom: 0;
    right: 0;
    color: $offWhite;
    overflow: scroll;
    // PLAY BUTTON ROW
    .topRow {
        padding-bottom: 20px;
        width: 100%;
        display: flex;
        align-items: center;
        font-size: 2.3rem;

        // heart and ellipsis
        .far {
            padding: 0 30px;
        }

        // play
        button {
            border-radius: 50%;
            height: 55px;
            width: 55px;
            border: none;

            display: flex;
            justify-content: center;
            align-items: center;
            
            background: #1DB954;
            color: white;
            // this was bugging me
            .fas {
                transform: translateX(2px);
            }
        }
        &:hover {
            color: white;
        }
    }

    // main section uniform alignment
    .secondRow,
    ol li {
        display: grid;
        grid-template-columns: 0.3fr 4.5fr 3fr 2fr 1fr;
        @include color($offWhite);
    }

    .secondRow {
        border-bottom: solid 1px $offWhite;
        text-transform: uppercase;
        padding: 10px 0;
    }

    // TEMPLATE
    ol {
        padding: 20px 0;
        li {
            padding-top: 5px;
            align-items: center;
            border-radius: 3px;
            counter-increment: my-counter;
            position: relative;
            &::before {
                content: counter(my-counter);
                position: absolute;
            }

            // image, title/artist group
            // TODO make font hide under next grid
            .left {
                display: grid;
                grid-template-columns: 1fr 5fr;
                height: 50px;
                overflow: hidden;
                img {
                    margin-right: 10px;
                    width: 45px;
                }
                // text
                .titleArtist {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    .songTitle {
                        color: white;
                        font-size: 1.5rem;
                    }
                    .songArtist:hover,
                    .songArtist:active {
                        text-decoration: underline;
                    }
                }
            }

            .clock {
                position: relative;
                i {
                    display: none;
                    position: absolute;
                }
                .fa-heart {
                    left: -20px;
                    bottom: 0;
                }
                .fa-ellipsis-h {
                    left: 35px;
                    bottom: 0;
                }
            }
            // on song hover
            &:hover {
                background: rgba(47, 44, 44, 0.5);
                i {
                    display: inline-block;
                }
            }
            // on song click
            &:active {
                background: #5E5C5C;
                i {
                    display: inline-block;
                }
            }
        }
    }
}
        


// spaceholder
.left {
    min-width: 250px;
}
.clock {
    min-width: 50px;
}