// 1280

/* Portrait tablet and small desktops */
@media (max-width: 1280px) {
    header {
        .title {
            img {
                width: 200px;
                height: 200px;
                align-self: flex-end;
            }

        }
    }

}
// 1025 disappear forward arrow, margin between around songlist
/* Landscape phone to portrait tablet */
@media (max-width: 1000px) {
    // date hidden
    main {
        .secondRow,
        ol li {
            grid-template-columns: 0.8fr 5.8fr 3fr 0.3fr;
            .date {
                display: none;
            }
        }
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    header {
        background-image: url('../../assets/facetime.JPG');
        background-size: cover;
        overflow: hidden;
        nav {
            .forward {
                display: none;
            }
        }
        .title {
            position: relative;
            img {
                display: none;
            }
            .titleText {
                position: absolute;
                width: 100%;
                h1 ~ p {
                    display: none;
                }
            }
        }
    }
    main {
        .topRow {
            margin: 20px 0;
        }
    }

    header,
    main {
        width: 100%;
    }

    aside {
        display: none;
    }
}