
// response cues taken from actual spotify 
@media (max-width: 1280px) {
    header {
        .title {
            img {
                width: 200px;
                height: 200px;
                align-self: flex-end;
            }
        }
    }
}


@media (max-width: 1200px) {
    // remove "date" & reset gtc
    main {
        .date {
            display: none;
        }
        
        ol li, 
        .secondRow {
            grid-template-columns: 0.3fr 4.5fr 3fr 1fr;
            .left .titleArtist .songTitle,
            .left {
                width: 200px;
            }
            .album {
                width: 180px;
            }
        }
    }
}


/* Landscape phones and down to mobile */
@media (max-width: 480px) {
    // bye felicia
    header,
    main {
        width: 100%;
    }
    aside {
        display: none;
    }


    header {
        // now im just getting carried away
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), black), url('../assets/facetime.JPG');
        background-size: cover;
        overflow: hidden;

        // bye felicia
        nav {
            background: transparent;
            .forward {
                display: none;
            }
            .signUp {
                display: none;
            }
        }
        .title {
            position: relative;
            img {
                display: none;
            }
            .titleText {
                position: absolute;
                width: 100%;
                h1 ~ p {
                    display: none;
                }
            }
        }
    }

    // contain vw
    main {
        ol li {
            grid-template-columns: 0.3fr 4.5fr 3fr 1fr;
            .left .titleArtist .songTitle  {
                width: 120px;
            }
            .album {
                width: 80px;
            }
        }
    }
}