aside {
    background: black;
    height: 100%; 
    width: 240px; 
    position: fixed; 

    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px 30px;

    @include color($offWhite);

    // logo
    img {
        width: 80%;
    }

    h2 {
        font-size: 1.3rem;
    }
    .group, 
    .playlists {
        margin: 30px 0;
        height: 15%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: left;
    }

    // all sub elements
    .asideFlex {
        display: flex;
        align-items: center;
    }

    // Favicons
    i {
        font-size: 2rem;
    }

    // even spacing
    .createBoxOne,
    .createBoxTwo,
    .group i {
        margin-right: 15px;
    }

    .createBoxOne {
        width: 35px;
        height: 35px;
        background: $offWhite;
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
    }
    .createBoxTwo {
        width: 35px;
        height: 35px;
        background-image: linear-gradient(45deg, rgb(6, 185, 6), rgba(255, 221, 72, 0.89))
    }

    .playlists {
        height: 20%;
        width: 100%;
        padding: 10px 0;
        border-bottom: solid 1px rgba(255, 255, 255, 0.3);
    }
}