html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.wrapper {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1, h2, p {
  margin: 0;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: 'Circular Book';
  src: local("Circular Book"), url(../assets/CircularStd-Book.ttf) format("truetype");
}

@font-face {
  font-family: 'Circular Med';
  src: local("Circular Med"), url(../assets/CircularStd-Medium.ttf) format("truetype");
}

@font-face {
  font-family: 'Circular Black';
  src: local("Circular Black"), url(../assets/Circular_Bold.ttf) format("truetype");
}

aside {
  background: black;
  height: 100%;
  width: 240px;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  padding: 20px 30px;
  font-size: 1.3rem;
  color: rgba(255, 255, 255, 0.623);
  letter-spacing: 1px;
  font-family: 'Circular Book';
}

aside img {
  width: 80%;
}

aside h2 {
  font-size: 1.3rem;
}

aside i {
  font-size: 2rem;
}

aside .group,
aside .playlists {
  margin: 30px 0;
  height: 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
}

aside .asideFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

aside .asideFlex:hover, aside .asideFlex:active {
  color: white;
  cursor: pointer;
}

aside .asideFlex:hover .createBoxOne,
aside .asideFlex:active .createBoxOne {
  background: white;
}

aside .asideFlex:hover .createBoxTwo,
aside .asideFlex:active .createBoxTwo {
  background-image: linear-gradient(45deg, #08e608, rgba(253, 250, 72, 0.89));
}

aside .createBoxOne,
aside .createBoxTwo,
aside .group i {
  margin-right: 15px;
}

aside .playlists {
  height: 20%;
  width: 100%;
  padding: 10px 0;
  border-bottom: solid 1px rgba(255, 255, 255, 0.3);
}

aside .createBoxOne {
  width: 35px;
  height: 35px;
  background: rgba(255, 255, 255, 0.623);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
}

aside .createBoxTwo {
  width: 35px;
  height: 35px;
  background-image: linear-gradient(45deg, #06b906, rgba(255, 221, 72, 0.89));
}

header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#69494b), to(#352526));
  background-image: linear-gradient(180deg, #69494b, #352526);
  height: 42vh;
  width: calc(100% - 240px);
  position: fixed;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.3rem;
  color: rgba(255, 255, 255, 0.623);
  letter-spacing: 1px;
  font-family: 'Circular Book';
}

header nav,
header .arrows,
header .signUp,
header .signUp button,
header .back,
header .forward {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 45px;
  width: 100%;
  background: rgba(37, 28, 28, 0.7);
  padding: 7px 10px;
}

header nav .back,
header nav .forward {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 20px;
  background: rgba(12, 9, 9, 0.7);
}

header nav .back i,
header nav .forward i {
  color: rgba(255, 255, 255, 0.623);
  font-size: 3rem;
}

header nav .back i:hover,
header nav .forward i:hover {
  color: white;
}

header nav .back i {
  -webkit-transform: translateX(-1px);
          transform: translateX(-1px);
}

header nav .forward i {
  -webkit-transform: translateX(1px);
          transform: translateX(1px);
}

header nav .signUp button {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30px;
  width: 100px;
  border: none;
  border-radius: 30px;
  text-transform: uppercase;
  font-size: 1.3rem;
  color: rgba(255, 255, 255, 0.623);
  letter-spacing: 1px;
  font-family: 'Circular Book';
  font-size: 1rem;
  cursor: pointer;
}

header nav button.signUpButton {
  background: transparent;
  color: white;
}

header nav button.logInButton {
  color: black;
}

header .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80%;
  padding: 20px 35px;
}

header .title img {
  max-width: 220px;
  -webkit-box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.4), -10px -10px 30px rgba(0, 0, 0, 0.4);
          box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.4), -10px -10px 30px rgba(0, 0, 0, 0.4);
}

header .title .titleText {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-left: 20px;
}

header .title .titleText .play {
  color: white;
}

header .title .titleText p {
  padding-top: 8px;
}

header .title .titleText h1 {
  font-family: 'Circular Black', sans-serif;
  font-size: clamp(6rem, 7rem, 10rem);
  color: white;
  line-height: 80%;
  padding: 20px 0;
}

header .title .titleText .fm {
  color: white;
}

main {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#271c1c), to(#111111));
  background-image: linear-gradient(180deg, #271c1c, #111111);
  height: 58vh;
  width: calc(100% - 240px);
  padding: 20px;
  position: fixed;
  bottom: 0;
  right: 0;
  color: rgba(255, 255, 255, 0.623);
  overflow: scroll;
}

main .topRow {
  padding-bottom: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.3rem;
}

main .topRow .far {
  padding: 0 30px;
}

main .topRow button {
  border-radius: 50%;
  height: 55px;
  width: 55px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #1DB954;
  color: white;
}

main .topRow button .fas {
  -webkit-transform: translateX(2px);
          transform: translateX(2px);
}

main .topRow:hover {
  color: white;
}

main .secondRow,
main ol li {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.3fr 4.5fr 3fr 2fr 1fr;
      grid-template-columns: 0.3fr 4.5fr 3fr 2fr 1fr;
  text-align: left;
  font-size: 1.3rem;
  color: rgba(255, 255, 255, 0.623);
  letter-spacing: 1px;
  font-family: 'Circular Book';
}

main .secondRow {
  border-bottom: solid 1px rgba(255, 255, 255, 0.623);
  text-transform: uppercase;
  padding: 10px 0;
}

main ol {
  padding: 20px 0;
}

main ol li {
  padding-top: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3px;
  counter-increment: my-counter;
  position: relative;
}

main ol li::before {
  content: counter(my-counter);
  position: absolute;
}

main ol li .num {
  width: 30px;
}

main ol li .left {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr;
      grid-template-columns: 1fr 5fr;
  height: 50px;
  padding-right: 10px;
}

main ol li .left img {
  margin-right: 10px;
  width: 45px;
}

main ol li .left .titleArtist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main ol li .left .titleArtist .songTitle {
  color: white;
  font-size: 1.5rem;
  width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

main ol li .left .titleArtist .songArtist:hover,
main ol li .left .titleArtist .songArtist:active {
  text-decoration: underline;
}

main ol li .album {
  width: 350px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 10px;
}

main ol li .clock {
  position: relative;
}

main ol li .clock i {
  display: none;
  position: absolute;
}

main ol li .clock .fa-heart {
  left: -20px;
  bottom: 0;
}

main ol li .clock .fa-ellipsis-h {
  left: 35px;
  bottom: 0;
}

main ol li:hover {
  background: rgba(47, 44, 44, 0.5);
}

main ol li:hover i {
  display: inline-block;
}

main ol li:active {
  background: #5E5C5C;
}

main ol li:active i {
  display: inline-block;
}

@media (max-width: 1280px) {
  header .title img {
    width: 200px;
    height: 200px;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

@media (max-width: 1200px) {
  main .date {
    display: none;
  }
  main ol li {
    -ms-grid-columns: 0.3fr 4.5fr 3fr 1fr;
        grid-template-columns: 0.3fr 4.5fr 3fr 1fr;
  }
  main ol li .left .titleArtist .songTitle {
    width: 250px;
  }
  main ol li .album {
    width: 180px;
  }
}

/* Landscape phones and down to mobile */
@media (max-width: 480px) {
  header,
  main {
    width: 100%;
  }
  aside {
    display: none;
  }
  header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(black)), url("../assets/facetime.JPG");
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), black), url("../assets/facetime.JPG");
    background-size: cover;
    overflow: hidden;
  }
  header nav {
    background: transparent;
  }
  header nav .forward {
    display: none;
  }
  header nav .signUp {
    display: none;
  }
  header .title {
    position: relative;
  }
  header .title img {
    display: none;
  }
  header .title .titleText {
    position: absolute;
    width: 100%;
  }
  header .title .titleText h1 ~ p {
    display: none;
  }
  main ol li {
    -ms-grid-columns: 0.3fr 4.5fr 3fr 1fr;
        grid-template-columns: 0.3fr 4.5fr 3fr 1fr;
  }
  main ol li .left .titleArtist .songTitle {
    width: 120px;
  }
  main ol li .album {
    width: 80px;
  }
}
