@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.wrapper {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1, h2, p {
  margin: 0;
}

a {
  text-decoration: none;
}

/* colors
songhover: #2A2A2A
songclick: #5E5C5C


playgreen: #1DB954

lightBrown: #69494B
darkBrown: black;

grey: #282828
nonwhite font : #B4ADAD

&:visited {
   background: darken($primary, 10) //10% darker than $primary;
 }


 in this mixin declaration, $sizeValue is the placeholder
 🤓
@mixin fontSize($sizeValue) {
  font-size: $sizeValue;
  color: blue;
  font-weight: bold;
}

h1 {
  [[[[ when we use the mixin, we replace the placeholder with the actual value we want ]]]]
  @include fontSize(36px);
}
*/
@font-face {
  font-family: 'Circular Book';
  src: local("Circular Book"), url(../../assets/CircularStd-Book.ttf) format("truetype");
}

@font-face {
  font-family: 'Circular Med';
  src: local("Circular Med"), url(../../assets/CircularStd-Medium.ttf) format("truetype");
}

@font-face {
  font-family: 'Circular Black';
  src: local("Circular Black"), url(../../assets/CircularStd-Black.ttf) format("truetype");
}

aside {
  background: black;
  height: 100%;
  width: 240px;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  padding: 20px 20px;
  font-size: 1.3rem;
  color: rgba(255, 255, 255, 0.623);
  letter-spacing: 1px;
  font-family: 'Circular Book';
}

aside img {
  width: 80%;
}

aside h2 {
  font-size: 1.3rem;
}

aside .group,
aside .playlists {
  margin: 30px 0;
  height: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
}

aside .asideFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

aside i {
  font-size: 2rem;
}

aside .createBoxOne,
aside .createBoxTwo,
aside .group i {
  margin-right: 15px;
}

aside .createBoxOne {
  width: 35px;
  height: 35px;
  background: rgba(255, 255, 255, 0.623);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
}

aside .createBoxTwo {
  width: 35px;
  height: 35px;
  background-image: linear-gradient(45deg, #06b906, rgba(255, 221, 72, 0.89));
}

aside .playlists {
  height: 20%;
  width: 100%;
  padding: 10px 0;
  border-bottom: solid 1px rgba(255, 255, 255, 0.3);
}

header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#69494b), to(#352526));
  background-image: linear-gradient(180deg, #69494b, #352526);
  height: 42vh;
  width: calc(100% - 240px);
  position: fixed;
  top: 0;
  right: 0;
  padding: 30px 30px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.3rem;
  color: rgba(255, 255, 255, 0.623);
  letter-spacing: 1px;
  font-family: 'Circular Book';
}

header nav {
  height: 40px;
  width: 80%;
  border: 1px solid black;
}

header .title {
  width: 100%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .title img {
  max-width: 250px;
  -webkit-box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.4), -10px -10px 30px rgba(0, 0, 0, 0.4);
          box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.4), -10px -10px 30px rgba(0, 0, 0, 0.4);
}

header .title .titleText {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-left: 20px;
}

header .title .titleText p {
  padding-top: 8px;
}

header .title .titleText h1 {
  font-family: 'Circular Black', sans-serif;
  color: white;
  font-size: 5rem;
  padding: 10px 0;
  line-height: 80%;
}

header .title .titleText .fm {
  color: white;
}

main {
  height: 58vh;
  width: calc(100% - 240px);
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  right: 0;
  overflow: scroll;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#312323), to(black));
  background-image: linear-gradient(180deg, #312323, black);
  color: rgba(255, 255, 255, 0.767);
}

main .topRow {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  font-size: 2.3rem;
  color: rgba(255, 255, 255, 0.623);
}

main .topRow .far {
  padding: 0 30px;
}

main .topRow button {
  border-radius: 50%;
  height: 55px;
  width: 55px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #1DB954;
  color: white;
}

main .topRow button .fas {
  -webkit-transform: translateX(2px);
          transform: translateX(2px);
}

main .topRow:hover {
  color: white;
}

main .secondRow,
main ul li {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.3fr 5fr 3fr 2fr;
      grid-template-columns: 0.3fr 5fr 3fr 2fr;
  font-size: 1.3rem;
  color: rgba(255, 255, 255, 0.623);
  letter-spacing: 1px;
  font-family: 'Circular Book';
}

main .secondRow {
  border-bottom: solid 1px rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  padding: 10px 0;
}

main ul li {
  margin: 10px auto;
  padding: 5px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3px;
}

main ul li .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main ul li .left img {
  margin-right: 10px;
  width: 50px;
}

main ul li .left .titleArtist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main ul li .left .titleArtist .songTitle {
  color: white;
}

main ul li .clock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
}

main ul li .clock i {
  visibility: hidden;
}

main ul li .clock .show {
  visibility: visible;
}

main ul li:hover {
  background: rgba(47, 44, 44, 0.5);
}

main ul li:active {
  background: #5E5C5C;
}
